<form method="POST" action="/prehistoric_creatures/<%=dinoId%>/?_method=PUT">
    <label>Name</label>
    <input type="text" name="type" value="<%= dino.type %>">
    <label>Image</label>
    <input type="text" name="img_url" value="<%= dino.img_url %>">
    <input type="submit" value="Update Creature!">
</form>