<form mothod="POST" action="/dinosaurs">

    <label for="dinosuarsType">Type</label>
    <input type="text" name="type" id="dinosuarsType" >

    <label for="dinosuarsName">Name</label>
    <input type="text" name="name" id="dinosuarsName" >
<input type="submit">
</form>